@model IList<DystopianWarsCampaign.Models.News>

@{
    ViewBag.Title = "Home Page";
}

    @Scripts.Render("~/Scripts/jquery-2.1.3.js")
    @Scripts.Render("~/Scripts/lightbox-2.6.js")
    
    @Styles.Render("~/Content/lightbox.css")

<div class="introfont">
<div class="text-center">
 <div class="offsettop">
      <hr />
<h2>It is the 1870′s, and war rages between the world’s great powers on a scale never before seen!
At sea, mighty battle groups clash; lines of giant smoke-belching Dreadnoughts and Battleships hammer one another in mortal combat, 
supported by flotillas of smaller craft. Between the thunderous engagements of massed war fleets are dozens, 
if not hundreds, of lesser skirmishes.</>  

</h2>
     

     <h2>We welcome you seasoned Commanders, to the Dystopian Wars Campaign site!</h2>
      <hr />
  </div></div></div> 

@for (int i = 0; i < Model.Count; i++)
{
    if (i == 0 || i % 3 == 0)
    { 
        @:<div class="row">  
    }
        <text>
        <div class="col-md-4">    
        <div class="jumbotron">
        <h4>@Html.Raw(Model[i].Title)</h4>
        <h5><i>@Html.Raw(Model[i].Date)</i></h5>
        <hr />
        <h5>@Html.Raw(Model[i].Content)</h5>
        </div>
        </div>
        </text>
    
    if (i % 3 == 2 || i == Model.Count - 1)
    {
       @:</div>
    }
}

@*<div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="jumbotron">
                    <h4>@Html.Raw(item.Title)</h4>
                    <h5><i>@Html.Raw(item.Date)</i></h5>
                    <hr />
                    <h5>@Html.Raw(item.Content)</h5>
                </div>
            </div>

        }
    </div>*@

