@model IEnumerable<DystopianWarsCampaign.Models.Faction>

@{
    ViewBag.Title = "Index";
}

  <div class="textbox">
<h2>Index</h2>
@section Scripts {
    @Scripts.Render("~/Scripts/Factions/Factions.js")

}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Acronym)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeFleet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwayFleet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlliedFleet)
        </th>
    </tr>


    @foreach (var item in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acronym)
            </td>
            <td>
                @* @Html.Raw(item.HomeFleet)*@
            </td>
            <td>
                @*@Html.Raw(item.AwayFleet)*@
            </td>
            <td>
                @*@Html.Raw(item.AlliedFleet)*@
            </td>
        </tr>
    }
</table>
<h2>Lists</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Acronym)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeFleet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwayFleet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlliedFleet)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Acronym)
            </td>

            <td>
                @Html.Raw(item.HomeFleet)
            </td>
            <td>
                @Html.Raw(item.AwayFleet)
            </td>
            <td>
                @Html.Raw(item.AlliedFleet)
            </td>
        </tr>
    }
</table>



      </div>
