@model IEnumerable<DystopianWarsCampaign.Models.Faction>

@{
    ViewBag.Title = "Index";
}

<script>
$(function(){
	function tally (selector) {
		$(selector).each(function () {
			var total = 0,
				column = $(this).siblings(selector).andSelf().index(this);
			$(this).parents().prevUntil(':has(' + selector + ')').each(function () {
				total += parseFloat($('td.sum:eq(' + column + ')', this).html()) || 0;
			})
			$(this).html(total);
		});
	}
	tally('td.subtotal');
});

    </script>

<h2>Index</h2>


   <table id="data">
                        <thead><tr><th>Name</th><th>Type</th><th>Points</th></tr></thead>
                        <tbody>
                        <tr><td>1x Savannah (Sky Fortress) </td><td> Aer. Massive  </td><td class="sum">165</td></tr>
                        <tr><td>5x Revere (Corvette) </td><td> Nav. Small </td><td class="sum"> 100          </td></tr>
                        <tr><td>                 </td><td>     TOTAL       </td><td class="subtotal"></td></tr>
                        </tbody>
                    </table>



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Acronym)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeFleet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwayFleet)
        </th>
    </tr>


    @foreach (var item in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acronym)
            </td>
            <td>
                @* @Html.Raw(item.HomeFleet)*@
            </td>
            <td>
                @*@Html.Raw(item.AwayFleet)*@
            </td>
        </tr>
    }
</table>
<h2>Lists</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Acronym)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeFleet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwayFleet)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Acronym)
            </td>

            <td>
                @Html.Raw(item.HomeFleet)
            </td>
            <td>
                @Html.Raw(item.AwayFleet)
            </td>
        </tr>
    }
</table>



